{% extends 'base.html.twig' %}

{# Langue #}
{% block lang %}{{ lang_page }}{% endblock %}
{# Metas #}
{% block title %}{{ meta_title }}{% endblock %}
{% block desc %}{{ meta_desc }}{% endblock %}
{# Settings #}
{% block damping %}{{ settings.damping }}{% endblock %}
{% block scrollimg %}{{ settings.scrollimg }}{% endblock %}

{% block body %}
    {# <div {{ vue_component('Hello', { 'name': app.user.fullName }) }}></div> #}
    {{ page_content | raw }}
{% endblock %}
