{% extends 'base.html.twig' %}

{# Metas #}
{% block lang %}{{ lang_page }}{% endblock %}
{% block title %}{{ meta_title }}{% endblock %}
{% block desc %}{{ meta_desc }}{% endblock %}
{% block damping %}{{ settings.damping }}{% endblock %}
{% block scrollimg %}{{ settings.scrollimg }}{% endblock %}

{% block body %}
    <div id="content">
        <div id="website">
            {% include "webpages/blocks/header.html.twig" %}
            <main id="main">
                {{ page_content | raw }}
            </main>
            {% include "webpages/blocks/footer.html.twig" %}
        </div>
    </div>
{% endblock %}
