{% extends 'base.html.twig' %}

{# Metas #}
{% block lang %}{{ lang }}{% endblock %}
{% block title %}{{ meta_title }}{% endblock %}
{% block desc %}{{ meta_desc }}{% endblock %}

{% block body %}
    <div id="content">
        <div id="website">
            {% include "webpages/blocks/header.html.twig" %}
            <main id="main">
                {% if post_thumb %}
                    <img src="{{ posts_img_directory }}/{{ post_thumb }}" />
                {% endif %}
                {{ post_content | raw }}
            </main>
            {% include "webpages/blocks/footer.html.twig" %}
        </div>
    </div>
{% endblock %}