{% extends 'admin.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Ajouter un article</h2>
        <ul class="tabs tabs-btn">
            <li><a class="tab active">Contenu de page</a></li>
            <li><a class="tab">SEO de la page</a></li>
        </ul>
        {{ form_start(form, { 'attr' : { 'class': 'tab-panes' } }) }}
            <div id="content-page" class="tab-pane active">
                <p>{{ form_label(form.page_name) }}<br />
                {{ form_widget(form.page_name) }}</p>
                <p>{{ form_label(form.page_url) }}<br />
                {{ form_widget(form.page_url) }}</p>
                <p>{{ form_label(form.page_content) }}<br />
                {{ form_widget(form.page_content) }}</p>
            </div>
            <div id="seo-page" class="tab-pane">
                <p>{{ form_label(form.page_meta_title) }}<br />
                {{ form_widget(form.page_meta_title) }}</p>
                <p>{{ form_label(form.page_meta_desc) }}<br />
                {{ form_widget(form.page_meta_desc) }}</p>
            </div>
            {{ form_row(form.page_submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}