{% extends 'admin.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right" href="{{ path('admin_posts_add') }}">Créer un article</a>
        <h2>Liste des articles</h2>
        {% for post in posts %}
        <div class="line">
            <p>{{ post.postname[0] }}</p>
            <ul>
                <li><a href="{{ path('web_post', {_locale: 'fr', post_url: post.posturl}) }}" target="_blank" rel="noopener">Voir</a></li>
                <li><a href="{{ path('admin_posts_modify', {post_id: post.id}) }}">Modifier</a></li>
                <li><a href="{{ path('admin_posts_delete', {post_id: post.id}) }}">Supprimer</a></li>
            </ul>
        </div>
        {% endfor %}
    </section>
{% endblock %}