{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>{{ title }}</h2>

        {# <ul class="tabs tabs-btn">
        {% for language in ['Français'] %}
            <li><a class="tab {% if loop.index == 1 %}active{% endif %}" tabindex='2'>{{ language }}</a></li>
        {% endfor %}
        </ul> #}

        {{ form_start(form, { 'attr' : { 'class': 'tab-panes' } }) }}
            {% for language, prefix in {'Français': 'fr'} %}
            <fieldset class="tab-pane {% if loop.index == 1 %}active{% endif %}">
                <legend>Contenu en {{ language }}</legend>
                {% set postNameField = attribute(form, 'post_name_' ~ prefix) %}
                <p>{{ form_row(postNameField, { 'value': attribute(_context, 'postName_' ~ prefix)|default }) }}</p>

                {% set postContentField = attribute(form, 'post_content_' ~ prefix) %}
                <p>{{ form_row(postContentField, { 'value': attribute(_context, 'postContent_' ~ prefix)|default }) }}</p>
                
                {% set postMetaTitleField = attribute(form, 'post_meta_title_' ~ prefix) %}
                <p>{{ form_row(postMetaTitleField, { 'value': attribute(_context, 'metaTitle_' ~ prefix)|default }) }}</p>

                {% set postMetaDescField = attribute(form, 'post_meta_desc_' ~ prefix) %}
                <p>{{ form_row(postMetaDescField, { 'value': attribute(_context, 'metaDesc_' ~ prefix)|default }) }}</p>
            </fieldset>
            {% endfor %}
            <hr />
            <fieldset>
                <legend>Autres informations</legend>
                <p>{{ form_row(form.online) }}</p>
                <p>{{ form_row(form.post_thumb) }}</p>
                <p>{{ form_row(form.post_url) }}</p>
            </fieldset>
            <p>{{ form_row(form.submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}