{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>{{ title }}</h2>

        {# <ul class="tabs tabs-btn">
        {% for language in ['Français'] %}
            <li><a class="tab {% if loop.index == 1 %}active{% endif %}" tabindex='2'>{{ language }}</a></li>
        {% endfor %}
        </ul> #}

        {{ form_start(form, { 'attr' : { 'class': 'tab-panes' } }) }}
            <fieldset class="tab-pane active">
                {# <legend>Contenu en {{ language }}</legend> #}
                {{ form_row(form.post_name_fr) }}
                {{ form_row(form.post_content_fr) }}
                {{ form_row(form.post_meta_title_fr) }}
                {{ form_row(form.post_meta_desc_fr) }}
            </fieldset>
            <hr />
            <fieldset>
                <legend>Autres informations</legend>
                {{ form_row(form.online) }}
                {{ form_row(form.post_thumb) }}
                {{ form_row(form.post_url) }}
            </fieldset>
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}