<header id="header">
<h1>En-tête du site</h1>
</header>

<nav>
	<ul id="nav">
    {% for item in menus.findOneBy({'pos': 0}).menulinks | sort((a, b) => a.orderlink <=> b.orderlink) %}
        {% set targetAttr = item.blank ? 'target="_blank" rel="noopener" data-no-swup="1"' : '' %}

        {% if item.page %}
            <li>
                <a href="{{ path('web_page', {page_slug: item.page.pageurl}) }}" {{ targetAttr }}>
                    {{ item.cusname ?? item.page.pagename }}
                </a>
            </li>
        {% elseif item.post %}
            <li>
                <a href="{{ path('web_post', {post_url: item.post.posturl}) }}" {{ targetAttr }}>
                    {{ item.cusname ?? item.post.postname }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ item.cuslink }}" {{ targetAttr }}>
                    {{ item.cusname ?? item.cuslink }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
</nav>