{% extends 'admin.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right" href="{{ path('admin_pages_add') }}">Créer une page</a>
        <h2>Liste des pages</h2>
        {% for page in pages %}
        <div class="line">
            <p>{{ page.pagename[0] }}</p>
            <ul>
                <li><a href="{{ path('web_page', {page_slug: page.pageurl}) }}" target="_blank" rel="noopener">Voir</a></li>
                <li><a href="{{ path('admin_pages_modify', {page_id: page.pageid}) }}">Modifier</a></li>
                {% if page.blockedpage == 0 %}
                    <li><a href="{{ path('admin_pages_delete', {page_id: page.pageid}) }}">Supprimer</a></li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </section>
{% endblock %}
