{% extends 'admin.html.twig' %}

{% block title %}Modifier une page{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier une page</h2>
        {{ form_start(form) }}
            <p>{{ form_label(form.page_name) }}<br />
            {{ form_widget(form.page_name) }}</p>
            <p>{{ form_label(form.page_url) }}<br />
            {{ form_widget(form.page_url) }}</p>
            <hr />
            <ul class="tabs-btn tabs">
                <li><a class="tab active">Français</a></li>
                <li><a class="tab">English</a></li>
            </ul>
            <div class="tab-panes">
                <div class="tab-pane active">
                <!-- Français -->
                    <p>{{ form_label(form.page_content) }}<br />
                    {{ form_widget(form.page_content, {
                        'value': pageContentFr
                    }) }}</p>
                    <p>{{ form_label(form.page_meta_title) }}<br />
                    {{ form_widget(form.page_meta_title) }}</p>
                    <p>{{ form_label(form.page_meta_desc) }}<br />
                    {{ form_widget(form.page_meta_desc) }}</p>
                </div>
                <div class="tab-pane">
                    <!-- English -->
                    <p>{{ form_label(form.page_content_en) }}<br />
                    {{ form_widget(form.page_content_en, {
                        'value': pageContentEn
                    }) }}</p>
                    <p>{{ form_label(form.page_meta_title_en) }}<br />
                    {{ form_widget(form.page_meta_title_en) }}</p>
                    <p>{{ form_label(form.page_meta_desc_en) }}<br />
                    {{ form_widget(form.page_meta_desc_en) }}</p>
                </div>
            </div>
            <!-- Submit -->
            {{ form_row(form.page_submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}