{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="block">
    {# <a href="{{ path('codeweave_compile') }}" class="btn-link float-right">Compiler</a> #}
    <a href="{{ path('codeweave_create_file_js') }}" class="btn-link float-right ml">Créer un nouveau fichier JS</a>
    <a href="{{ path('codeweave_create_file_css') }}" class="btn-link float-right ml">Créer un nouveau fichier CSS</a>
    <h2>{{ title }}</h2>
    <div class="tab-container">
        <div class="tabs tabs-btn">
            <li class="tab active">SCSS</li>
            <li class="tab">JavaScript</li>
        </div>
        <hr>
        <div class="tab-panes">
            <div class="tab-pane active">
                <h3>Fichiers SCSS</h3>
                {% for item in cssList %}
                <div class="line">
                    <span class="title">{{ item.nom }}</span>
                    <ul>
                        <li><a href="{{ path('codeweave_update_file_css', {id: item.id}) }}">Modifier</a></li>
                        <li><a href="{{ path('codeweave_delete_file', {id: item.id}) }}">Supprimer</a></li>
                    </ul>
                </div>    
                {% endfor %}
                
            </div>
            <div class="tab-pane">
                <h3>Fichiers JS</h3>
                {% for item in jsList %}
                <div class="line">
                    <span class="title">{{ item.nom }}</span>
                    <ul>
                        <li><a href="{{ path('codeweave_update_file_js', {id: item.id}) }}">Modifier</a></li>
                        <li><a href="{{ path('codeweave_delete_file', {id: item.id}) }}">Supprimer</a></li>
                    </ul>
                </div>    
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
