{% set targetAttr = item.blank ? 'target="_blank" rel="noopener" data-no-swup="1"' : '' %}
{% set pageUrl = item.page.pageurl ?? null %}
{% set postUrl = item.post.posturl ?? null %}
{% set cusname = item.cusname[lang] ?? null %}
{% set cuslink = item.cuslink[lang] ?? null %}

<li>
    {% if item.page %}
        <a href="{{ path('web_page', {page_slug: pageUrl}) }}" {{ targetAttr }}>
            {{ cusname ?? item.page.pagename[lang] }}
        </a>
    {% elseif item.post %}
        <a href="{{ path('web_post', {post_url: postUrl}) }}" {{ targetAttr }}>
            {{ cusname ?? item.post.postname[lang] }}
        </a>
    {% else %}
        <a href="{{ cuslink }}" {{ targetAttr }}>
            {{ cusname ?? cuslink }}
        </a>
    {% endif %}
    {% if item.menulinks %}
        <ul>
            {% for subitem in item.menulinks %}
                {{ include('webpages/blocks/__nav-item.html.twig', { "pos": pos, "item": subitem }) }}
            {% endfor %}
        </ul>    
    {% endif %}
    
</li>