<footer>
	<ul id="nav">
		{% set menuData = menus.findOneBy({'pos': 1}) %}
		{% set sortedMenuLinks = menuData.menulinks|sort((a, b) => a.orderlink <=> b.orderlink) %}
		{% for item in sortedMenuLinks  %}
			{% set targetAttr = item.blank ? 'target="_blank" rel="noopener" data-no-swup="1"' : '' %}
			{% set cusname = item.cusname[lang] ?? null %}
			{% set pageSlug = item.page.pageurl ?? null %}
			{% set postUrl = item.post.posturl ?? null %}
			{% set cuslink = item.cuslink ?? null %}

			<li>
				{% if item.page %}
					<a href="{{ path('web_page', {page_slug: pageSlug}) }}" {{ targetAttr }}>
						{{ cusname ?? item.page.pagename[lang] }}
					</a>
				{% elseif item.post %}
					<a href="{{ path('web_post', {post_url: postUrl}) }}" {{ targetAttr }}>
						{{ cusname ?? item.post.postname[lang] }}
					</a>
				{% else %}
					<a href="{{ cuslink }}" {{ targetAttr }}>
						{{ cusname ?? cuslink }}
					</a>
				{% endif %}
			</li>
		{% endfor %}
		<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
	</ul>
</footer>