<footer>
	<ul id="nav">
		{% for item in menus.findOneBy({'pos': 1}).menulinks | sort((a, b) => a.orderlink <=> b.orderlink) %}
			{% if item.page is not null %}
				<li>
					<a href="{{ path('web_page', {page_slug: item.page.pageurl}) }}">{{ item.page.pagename[lang] }}</a>
				</li>
			{% elseif item.post is not null %}
				<li>
					<a href="{{ path('web_post', {post_url: item.post.posturl}) }}">{{ item.page.postname[lang] }}</a>
				</li>
			{% else %}
				<li>
					<a href="{{ item.cuslink }}" target="_blank" rel="noopener">{{ item.cusname[lang] }}</a>
				</li>
			{% endif %}
		{% endfor %}
		<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
	</ul>
</footer>