{{ form_start(menu_create_form) }}

<p>{{ form_row(menu_create_form.name) }}</p>

{% for child in menu_create_form.pos.children %}
	<div class="radio">
		<label for="{{ child.vars.id }}">
			{{ child.vars.label }}
		</label>
		{{ form_widget(child) }}
	</div>
{% endfor %}

<p>{{ form_row(menu_create_form.submit) }}</p>

{{ form_end(menu_create_form) }}

<hr/>

{% for menu in menus %}
	<div class="line menu-{{ menu.id }}">
		<p>{{ menu.name }}</p>
		<ul>
			<li>
				<span class="menu-remove" data-id="{{ menu.id }}" data-removeurl="{{ path('delete_link') }}">Supprimer</span>
			</li>
		</ul>
	</div>
{% endfor %}
