<!DOCTYPE html>
<html 
    dir="ltr" 
    lang="{% block lang %}{% endblock %}" >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block desc %}{% endblock %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <link rel="icon" href="">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.11.0/css/tarteaucitron.min.css" integrity="sha512-An5uG5l2933DG8oK8mICT7TycnhhY2Ti1xVSj2XW/scxb0jRvE1kLUh8ECth38zr+MlE4LH3l5xblJ+Ns0JINg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
    </head>
    <body
        {{ stimulus_controller('symfony/ux-swup/swup', {
            containers: ['#main', '#nav'],
            animationSelector: '[class*="transition-"]',
            theme: 'fade',
            animateHistoryBrowsing: true,
            cache: true,
            debug: false,
        }) }}
        data-damping='{% block damping %}{% endblock %}'
        data-scrollimg='{% block scrollimg %}{% endblock %}'>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('modernizr') }}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.11.0/tarteaucitron.js" integrity="sha512-bDyrKjNycnlzdeKsBI4TOHhiDmAx9LtNkZo/IfdLZGlzYTREqmAdvgHy876IOBfZ7UUq7mIz4t4ZHoG8w/xTdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript">
                tarteaucitron.init({
                    "privacyUrl": "/fr/politique-de-confidentialite", /* Privacy policy url */
                    "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
                    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                    "cookieName": "tarteaucitron", /* Cookie name */
                    "orientation": "bottom", /* Banner position (top - bottom) */
                    "groupServices": false, /* Group services by category */
                    "showAlertSmall": false, /* Show the small banner on bottom right */
                    "cookieslist": false, /* Show the cookie list */
                    "closePopup": true, /* Show a close X on the banner */
                    "showIcon": false, /* Show cookie icon to manage cookies */
                    "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
                    "adblocker": false, /* Show a Warning if an adblocker is detected */
                    "DenyAllCta" : true, /* Show the deny all button */
                    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                    "removeCredit": false, /* Remove credit link */
                    "moreInfoLink": true, /* Show more info link */
                    "readmoreLink": "", /* Change the default readmore link */
                    "mandatory": true, /* Show a message about mandatory cookies */
                    "mandatoryCta": true /* Show the disabled accept button when mandatory on */
                });

                function cookiesInit(){
                    // Google Maps
                    tarteaucitron.user.googlemapsKey = "{{ google_maps }}";
                    (tarteaucitron.job = tarteaucitron.job || []).push('googlemaps');
                    // Recaptcha
                    tarteaucitron.user.recaptchaapi = '{{ recaptcha_public }}';
                    (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
                    // Rechargement après AJAX
                    tarteaucitron.triggerJobsAfterAjaxCall();
                }

                cookiesInit();

                document.addEventListener('swup:contentReplaced', function(){
                    cookiesInit();
                });
            </script>
        {% endblock %}
    </body>
</html>
