{% extends 'admin.html.twig' %}

{% block title %}Modifier le pied de page du site{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier le pied de page du site</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Français</a></li>
            <li><a class="tab">English</a></li>
        </ul>
        {{ form_start(form) }}
            <div class="tab-panes">
                <div class="tab-pane active">
                    <p>{{ form_label(form.common_block, "Pied de page du site (FR)") }}<br />
                    {{ form_widget(form.common_block, {
                        'value': content
                    }) }}</p>
                </div>
                <div class="tab-pane">
                    <p>{{ form_label(form.common_block_en, "Pied de page du site (EN)") }}<br />
                    {{ form_widget(form.common_block_en, {
                        'value': content_en
                    }) }}</p>
                </div>
            </div>
            {{ form_row(form.common_submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
